---
import IconCsdn from "@/assets/icons/IconCsdn.svg";
import IconGitee from "@/assets/icons/IconGitee.svg";
import IconGitHub from "@/assets/icons/IconGitHub.svg";
import IconMail from "@/assets/icons/IconMail.svg";
import IconRss from "@/assets/icons/IconRss.svg";
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;

const iconMap = {
  github: IconGitHub,
  gitee: IconGitee,
  csdn: IconCsdn,
  mail: IconMail,
  rss: IconRss,
};
---

<div class:list={["flex flex-wrap items-center gap-3", { "justify-center": centered }]}>
  {
    SOCIALS.filter((social) => social.active).map((social) => {
      const IconComponent = iconMap[social.icon as keyof typeof iconMap];

      return (
        <LinkButton
          href={social.href}
          ariaLabel={social.linkTitle}
          class="inline-flex items-center justify-center text-black transition-all duration-200 hover:-translate-y-0.5 hover:rotate-6 hover:text-black"
          title={social.linkTitle}
        >
          {IconComponent && (
            <IconComponent class="inline-block size-7 fill-none stroke-current opacity-100 transition-transform duration-200 group-hover:scale-110" />
          )}
          <span class="sr-only">{social.name}</span>
        </LinkButton>
      );
    })
  }
</div>
